/*
0 - 769         Phone
769 - 1020px:   Tablet (medium)
1020 + :        Desktop (large)
*/
.main-container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.grid-container {
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.button-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #6937ff;
  color: #fff;
  border-radius: 8px;
  transition: box-shadow 400ms ease;
}
.button-primary:hover {
  box-shadow: 0px 2px 25px #69667e;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(27, 27, 27, 0.678);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.overlay.hidden {
  display: none;
}

.section-title {
  max-width: 40rem;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto 0.6rem auto;
  color: #221e41;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
@media (min-width: 63.75em) {
  .section-title {
    font-size: 2.2rem;
  }
}

.section-subtitle {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto 4rem auto;
  font-size: 1.5rem;
}
@media (min-width: 63.75em) {
  .section-subtitle {
    font-size: 1.7rem;
  }
}

.section__title.reveal {
  opacity: 1;
}

/******************* MEDIA QUERIES ********************/
@media (min-width: 48.0625em) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
  }
  .main-container {
    padding: 0 4rem;
  }
  .section-subtitle {
    margin-bottom: 6rem;
  }
}
@media (min-width: 63.75em) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
  }
  .main-container {
    padding: 0 6rem;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  position: relative;
  font-family: "Heebo", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  color: #69667e;
}

.header {
  padding: 1rem 0 0 0;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.6s ease-in 0.1s;
}
.header.reveal {
  opacity: 1;
}
.header__navigation {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: inline-block;
  width: 12rem;
}
.header__logo path {
  fill: #221e41;
}
.header__logo circle {
  fill: #6937ff;
}
.header__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: none;
}
@media (min-width: 48.0625em) {
  .header__list {
    display: flex;
  }
}
.header__items {
  margin: 0 2.4rem;
}
.header__items:last-child {
  margin-right: 0;
}
.header__link {
  padding: 0.1rem 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  color: #69667e;
  transition: color 400ms ease, border 400ms ease;
  border-bottom: 1px solid transparent;
}
.header__link:hover, .header__link.active {
  color: #221e41;
}
.header__link.active {
  border-color: #221e41;
  background-color: transparent;
}
.header__button {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  border-radius: 50px;
  box-sizing: content-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 400ms cubic-bezier(1, 0, 0, 1.04);
  z-index: 9;
}
@media (min-width: 48.0625em) {
  .header__button {
    display: none;
  }
}
.header__button.active {
  transform: rotate(180deg);
}
.header__button-line {
  display: block;
  position: absolute;
  width: 70%;
  height: calc(4rem - 37px);
  top: 18.5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #221e41;
  transition: transform 200ms ease;
  border-radius: 5px;
}
.header__button-line:nth-child(1) {
  transform: translateY(-8px);
}
.header__button-line:nth-child(3) {
  transform: translateY(8px);
}
.header__button.active .header__button-line {
  background-color: #fff;
}
.header__button.active .header__button-line:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header__button.active .header__button-line:nth-child(2) {
  opacity: 0;
}
.header__button.active .header__button-line:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.header a,
.header button {
  outline: 2px dashed transparent;
  transition: all 0.2s ease;
}
.header a:focus-visible,
.header button:focus-visible {
  outline-color: #6937ff;
  outline-offset: 5px;
}

.mobile__nav {
  position: fixed;
  background-color: #221e41;
  min-height: 100vh;
  width: 60%;
  top: 0;
  right: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 300ms ease;
  text-align: center;
  z-index: 4;
}
.mobile__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}
.mobile__nav.open {
  right: 0;
}
.mobile__nav.open ul {
  display: block;
}
.mobile__nav-items:not(:last-child) {
  margin-bottom: 4rem;
}
.mobile__nav-items > a {
  padding: 0.1rem 0.2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
}
.mobile__nav-links.active {
  border-bottom: 2px solid #fff;
}

.hero {
  min-height: 60rem;
  display: flex;
  align-items: center;
}
@media (min-width: 63.75em) {
  .hero {
    min-height: 80rem;
  }
}
.hero .grid-container {
  -moz-column-gap: 7rem;
       column-gap: 7rem;
}
.hero__text {
  grid-column: 1/span 4;
  align-self: center;
  opacity: 0;
  transition: opacity 0.6s ease-in;
}
.hero__text.reveal {
  opacity: 1;
}
@media (min-width: 48.0625em) {
  .hero__text {
    grid-column: 1/span 4;
  }
}
@media (min-width: 63.75em) {
  .hero__text {
    grid-column: 1/span 7;
  }
}
.hero__big-paragraph {
  font-size: 3rem;
  margin-bottom: 1.6rem;
  color: #221e41;
}
@media (min-width: 63.75em) {
  .hero__big-paragraph {
    font-size: 4rem;
  }
}
.hero__long-paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4rem;
  line-height: 1.6;
}
.hero__cta {
  font-size: 1.5em;
  outline: 2px dashed transparent;
  transition: all 0.2s ease;
}
@media (min-width: 63.75em) {
  .hero__cta {
    font-size: 1.6rem;
  }
}
.hero__icon {
  margin-left: 1.6rem;
}
.hero__image {
  grid-column: 1/span 4;
  align-self: center;
  display: none;
}
@media (min-width: 48.0625em) {
  .hero__image {
    display: block;
    justify-self: flex-end;
    grid-column: 5/span 4;
  }
}
@media (min-width: 63.75em) {
  .hero__image {
    grid-column: 8/span 5;
  }
}
.hero__image svg {
  width: 100%;
}
.hero__image g#cyan {
  opacity: 0;
  transform: translateX(40px) translateY(-40px);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
}
.hero__image g#pink {
  opacity: 0;
  transform: translateX(-40px) translateY(40px);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
}
.hero__image g#purple {
  opacity: 0;
  transform: translateX(-50px) translateY(-50px);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
}
.hero__image g#red {
  opacity: 0;
  transform: translateX(50px) translateY(50px);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
}
.hero__image g#cyan.reveal, .hero__image g#pink.reveal, .hero__image g#red.reveal, .hero__image g#purple.reveal {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
.hero a:focus-visible {
  outline-color: #6937ff;
  outline-offset: 5px;
}

.about {
  padding: 7rem 0;
  margin-top: -8rem;
  line-height: 1.6;
}
@media (min-width: 48.0625em) {
  .about {
    padding: 12rem 0;
  }
}
.about__skills {
  grid-column: 1/-1;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
@media (min-width: 48.0625em) {
  .about__skills {
    grid-column: 6/span 4;
  }
}
@media (min-width: 63.75em) {
  .about__skills {
    grid-column: 8/span 5;
  }
}
.about__skills h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #221e41;
}
@media (min-width: 63.75em) {
  .about__skills h2 {
    font-size: 2rem;
  }
}
.about__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 63.75em) {
  .about__list {
    gap: 3rem;
  }
}
.about__list li {
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #6937ff;
  flex: 0 0 auto;
  font-size: 1.6rem;
  border: 1px solid transparent;
  padding: 1rem;
  transition: border 400ms ease;
}
@media (min-width: 63.75em) {
  .about__list li {
    font-size: 1.8rem;
  }
}
.about__list li img {
  width: 3rem;
  margin-right: 0.6rem;
}
@media (min-width: 63.75em) {
  .about__list li img {
    width: 3.5rem;
    margin-right: 1rem;
  }
}
.about__list li:hover {
  border-color: rgba(128, 128, 128, 0.3294117647);
}
.about__text {
  grid-column: 1/-1;
  align-self: center;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
@media (min-width: 48.0625em) {
  .about__text {
    grid-column: 1/span 4;
  }
}
@media (min-width: 63.75em) {
  .about__text {
    grid-column: 1/span 6;
  }
}
.about__skills, .about__text {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateY(40%);
  opacity: 0;
}
.about__skills.reveal, .about__text.reveal {
  transform: translateY(0);
  opacity: 1;
}
.about__name {
  margin-bottom: 1.4rem;
  font-weight: 600;
  color: #221e41;
}
.about__text p:first-child {
  font-size: 1.8rem;
}
@media (min-width: 63.75em) {
  .about__text p:first-child {
    font-size: 2rem;
  }
}
.about__text p:first-child__text-paragraph {
  margin-bottom: 1.4rem;
}
.about__text p:nth-child(2) {
  margin-bottom: 1.8rem;
}
.about__text p:not(:first-child) {
  font-size: 1.6rem;
}
@media (min-width: 63.75em) {
  .about__text p:not(:first-child) {
    font-size: 1.8rem;
  }
}

.projects {
  padding: 10rem 0;
  line-height: 1.6;
}
@media (min-width: 48.0625em) {
  .projects {
    padding: 12rem 0;
  }
}
.projects__container {
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem 0;
  margin-bottom: 6rem;
}
.projects__is-column-right {
  flex-basis: 50%;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, box-shadow 400ms ease-in-out;
  border-radius: 6px;
}
.projects__is-column-right.border {
  border: 1px solid rgba(128, 128, 128, 0.3294117647);
}
.projects__is-column-left {
  flex-basis: 50%;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.projects__is-column-left, .projects__is-column-right {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateY(40%);
  opacity: 0;
}
.projects__is-column-left.reveal, .projects__is-column-right.reveal {
  transform: translateY(0);
  opacity: 1;
}
.projects__is-column-right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.projects__is-column-left h2 {
  font-weight: 600;
  color: #221e41;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
@media (min-width: 63.75em) {
  .projects__is-column-left h2 {
    font-size: 2rem;
  }
}
.projects__is-column-left p {
  font-size: 1.6rem;
  margin-bottom: 2.6rem;
}
.projects__is-column-left p a {
  color: #221e41;
  font-weight: 500;
  text-underline-offset: 0.3rem;
  text-decoration: none;
  position: relative;
  outline: 2px dashed transparent;
  transition: all 0.2s ease;
}
.projects__is-column-left p a::after {
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #221e41;
  transition: width 400ms ease;
}
.projects__is-column-left p a:hover::after {
  width: 100%;
}
.projects__is-column-left p a:focus-visible {
  outline-color: #6937ff;
  outline-offset: 2px;
}
@media (min-width: 63.75em) {
  .projects__is-column-left p {
    font-size: 1.8rem;
  }
}
.projects__btn-for-website, .projects__btn-for-code {
  margin-right: 2.6rem;
  font-size: 1.2rem;
  outline: 2px dashed transparent;
  transition: all 0.2s ease;
}
@media (min-width: 63.75em) {
  .projects__btn-for-website, .projects__btn-for-code {
    font-size: 1.5rem;
  }
}
.projects__btn-for-website:focus-visible, .projects__btn-for-code:focus-visible {
  outline-color: #6937ff;
  outline-offset: 5px;
}
.projects__btn-for-website i, .projects__btn-for-code i {
  margin-left: 1.4rem;
}
.projects__button-group {
  display: flex;
}
.projects__button-group a {
  padding: 0.6rem 1.2rem;
}
@media (min-width: 48.0625em) {
  .projects__button-group a {
    padding: 0.6rem 1.4rem;
  }
}
.projects-2__container {
  grid-column: 1/-1;
  width: 100%;
}
.projects-2__title {
  text-align: center;
  margin-bottom: 2.6rem;
  font-size: 1.8rem;
  color: #221e41;
}
@media (min-width: 63.75em) {
  .projects-2__title {
    font-size: 2rem;
  }
}
.projects-2__container > div {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 5rem;
  justify-content: center;
}
@media (min-width: 48.0625em) {
  .projects-2__container > div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 63.75em) {
  .projects-2__container > div {
    grid-template-columns: repeat(3, 1fr);
  }
}
.projects-2__box {
  border-radius: 5px;
  padding: 1.4rem;
  border: 1px solid rgba(128, 128, 128, 0.3294117647);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateY(40%);
  opacity: 0;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, box-shadow 400ms ease-in-out;
}
.projects-2__box.reveal {
  transform: translateY(0);
  opacity: 1;
}
.projects-2__box:hover {
  box-shadow: 1px 1px 15px rgba(128, 128, 128, 0.3294117647);
}
.projects-2__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.projects-2__box img {
  width: 100%;
  border-radius: 5px;
}
.projects-2__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects-2__info h2 {
  font-size: 1.6rem;
  color: #221e41;
  font-weight: 500;
}
@media (min-width: 63.75em) {
  .projects-2__info h2 {
    font-size: 1.8rem;
  }
}
.projects-2__btn {
  text-decoration: none;
  color: #221e41;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
  outline: 2px dashed transparent;
  transition: all 0.2s ease;
}
.projects-2__btn:focus-visible {
  outline-color: #6937ff;
  outline-offset: 5px;
}
.projects-2__btn:hover {
  transform: translateY(-0.3rem);
}
.projects-2__btn .icon {
  font-size: 2rem;
}
.projects-2__btn:first-child {
  margin-right: 2rem;
}
@media (min-width: 48.75em) {
  .projects__container {
    grid-column: 1/-1;
    flex-direction: row;
    align-items: center;
    gap: 0 4rem;
  }
  .projects__container:nth-child(even) .projects__is-column-right {
    order: 2;
    flex-basis: 100%;
  }
  .projects__container:nth-child(even) .projects__is-column-left {
    order: 1;
    flex-basis: 100%;
  }
  .projects__container {
    margin-bottom: 12rem;
  }
}
@media (max-width: 20em) {
  .projects .projects__btn-for-website {
    margin-right: 1rem;
  }
}

.contact {
  padding: 10rem 0;
}
@media (min-width: 48.0625em) {
  .contact {
    padding: 12rem 0;
  }
}
.contact__info-content {
  grid-column: 1/span 4;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  display: flex;
  align-items: center;
}
@media (min-width: 48.0625em) {
  .contact__info-content {
    grid-column: 1/span 3;
  }
}
@media (min-width: 63.75em) {
  .contact__info-content {
    grid-column: 2/span 4;
  }
}
.contact__form-content {
  grid-column: 1/span 4;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
@media (min-width: 48.0625em) {
  .contact__form-content {
    grid-column: 4/span 5;
  }
}
@media (min-width: 63.75em) {
  .contact__form-content {
    grid-column: 6/span 6;
  }
}
.contact__info-content, .contact__form-content {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateY(40%);
  opacity: 0;
}
.contact__info-content.reveal, .contact__form-content.reveal {
  transform: translateY(0);
  opacity: 1;
}
.contact__info-list {
  padding: 3rem 0;
  margin: 0;
  list-style-type: none;
}
.contact__info-list li {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  border: 1px solid transparent;
  padding: 1.4rem;
  border-radius: 5px;
  transition: border 400ms ease;
}
.contact__info-list li:hover {
  border-color: rgba(128, 128, 128, 0.3294117647);
}
.contact__info-list li:first-child {
  margin-top: 0;
}
.contact__info-list li:last-child {
  margin-bottom: 0;
}
.contact__info-list i {
  margin-right: 2rem;
  font-size: 2.4rem;
  color: #6937ff;
}
.contact__info-list h3 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #221e41;
}
@media (min-width: 63.75em) {
  .contact__info-list h3 {
    font-size: 2rem;
  }
}
.contact__info-list p, .contact__info-list a {
  font-size: 1.6rem;
}
@media (min-width: 63.75em) {
  .contact__info-list p, .contact__info-list a {
    font-size: 1.8rem;
  }
}
.contact__info-list a {
  color: #69667e;
}
.contact__form {
  padding: 3rem 0;
}
.contact__form-row {
  display: flex;
  flex-direction: column;
}
.contact__input {
  width: 100%;
  margin-bottom: 1.4rem;
}
.contact__input label {
  font-size: 1.8rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.6rem;
  color: #221e41;
}
@media (min-width: 63.75em) {
  .contact__input label {
    font-size: 2rem;
  }
}
.contact__input input,
.contact textarea {
  width: 100%;
  height: 3.4rem;
  padding: 0.6rem 0.8rem;
  font-size: 1.6rem;
  background: rgba(105, 102, 126, 0.1019607843);
  border: 1px solid transparent;
  border-radius: 5px;
  color: #221e41;
  font-family: "Heebo", sans-serif;
  transition: border 400ms ease;
}
@media (min-width: 48.0625em) {
  .contact__input input,
.contact textarea {
    height: 4.4rem;
  }
}
@media (min-width: 63.75em) {
  .contact__input input,
.contact textarea {
    font-size: 1.8rem;
  }
}
.contact__input input:hover,
.contact textarea:hover {
  border-color: #6937ff;
}
.contact__input input:focus-visible,
.contact textarea:focus-visible {
  outline: none;
  border-color: #6937ff;
}
.contact__input input::-moz-placeholder, .contact textarea::-moz-placeholder {
  opacity: 0.5;
  color: #69667e;
  font-size: 1.6rem;
}
.contact__input input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
  opacity: 0.5;
  color: #69667e;
  font-size: 1.6rem;
}
.contact__input input::placeholder,
.contact textarea::placeholder {
  opacity: 0.5;
  color: #69667e;
  font-size: 1.6rem;
}
@media (min-width: 63.75em) {
  .contact__input input::-moz-placeholder, .contact textarea::-moz-placeholder {
    font-size: 1.8rem;
  }
  .contact__input input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
    font-size: 1.8rem;
  }
  .contact__input input::placeholder,
.contact textarea::placeholder {
    font-size: 1.8rem;
  }
}
.contact__input textarea {
  height: 10rem;
  resize: none;
}
.contact__error-msg {
  font-size: 1.4rem;
  color: red;
  margin-top: 0.1rem;
  display: inline-block;
  visibility: hidden;
}
.contact__error-msg.show {
  visibility: visible;
}
.contact__button {
  margin-bottom: 0;
  cursor: pointer;
}
.contact__button input {
  cursor: pointer;
  width: 10rem;
  background-color: #6937ff;
  color: #fff;
  transition: background 400ms ease, box-shadow 400ms ease-in-out;
  font-weight: 500;
  font-size: 1.6em;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 5px;
  font-family: "Heebo", sans-serif;
  letter-spacing: 1px;
  outline: 2px dashed transparent;
  transition: all 0.2s ease;
}
.contact__button input:focus-visible {
  outline-color: #6937ff;
  outline-offset: 5px;
}
.contact__button input:hover {
  box-shadow: 0px 2px 25px #69667e;
}
@media (min-width: 37.5em) {
  .contact__form-row {
    display: flex;
    flex-direction: row;
  }
  .contact__input-name {
    margin-right: 3rem;
  }
}

.footer {
  margin-top: 10rem;
  padding-top: 10rem;
  background-color: #221e41;
}
.footer__logo {
  grid-column: 1/span 4;
  width: 15rem;
  justify-self: center;
}
@media (min-width: 48.0625em) {
  .footer__logo {
    grid-column: 1/span 8;
  }
}
@media (min-width: 63.75em) {
  .footer__logo {
    grid-column: 1/span 12;
  }
}
.footer__logo path {
  fill: #fff;
}
.footer__logo circle {
  fill: #6937ff;
}
.footer__text {
  grid-column: 1/span 4;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  padding: 5rem 0;
}
@media (min-width: 48.0625em) {
  .footer__text {
    grid-column: 1/span 8;
  }
}
@media (min-width: 63.75em) {
  .footer__text {
    grid-column: 1/span 12;
    font-size: 1.8rem;
  }
}
.footer__row {
  grid-column: 1/span 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0 2.2rem 0;
  flex-direction: column;
  border-top: 1px solid #69667e;
}
@media (min-width: 48.0625em) {
  .footer__row {
    grid-column: 1/span 8;
    flex-direction: row;
  }
}
@media (min-width: 63.75em) {
  .footer__row {
    grid-column: 1/span 12;
  }
}
.footer__row p {
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
  text-align: center;
}
@media (min-width: 63.75em) {
  .footer__row p {
    font-size: 1.8rem;
  }
}
.footer__row p a {
  color: #69667e;
  text-decoration: none;
}
.footer__row ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 63.75em) {
  .footer__row ul {
    gap: 3rem;
  }
}
.footer__row ul a {
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  font-size: 1.6rem;
  border: 1px solid #6937ff;
  background-color: #6937ff;
  color: #fff;
  transition: background 400ms ease, border 400ms ease, outline 0.2s ease;
  outline: 2px dashed transparent;
}
.footer__row ul a:focus-visible {
  outline-color: #6937ff;
  outline-offset: 5px;
}
.footer__row ul a:hover {
  color: #6937ff;
  background-color: #fff;
  border-color: #fff;
}
@media (min-width: 63.75em) {
  .footer__row ul a {
    font-size: 1.8rem;
  }
}
.footer a.home-link {
  position: relative;
  outline: 2px dashed transparent;
  transition: all 0.2s ease;
}
.footer a.home-link::after {
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #69667e;
  transition: width 400ms ease;
}
.footer a.home-link:hover::after {
  width: 100%;
}
.footer a.home-link:focus-visible {
  outline-color: #6937ff;
  outline-offset: 2px;
}