/*
0 - 769         Phone
769 - 1020px:   Tablet (medium)
1020 + :        Desktop (large)
*/
.main-container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.grid-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.button-primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  background-color: #6937ff;
  color: #fff;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 400ms ease;
  transition: -webkit-box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease, -webkit-box-shadow 400ms ease;
}

.button-primary:hover {
  -webkit-box-shadow: 0px 2px 25px #69667e;
          box-shadow: 0px 2px 25px #69667e;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(27, 27, 27, 0.678);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.overlay.hidden {
  display: none;
}

.section-title {
  max-width: 40rem;
  font-size: 1.8rem;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto 0.6rem auto;
  color: #221e41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.section-subtitle {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto 4rem auto;
  font-size: 1.5rem;
}

.section__title.reveal {
  opacity: 1;
}

/******************* MEDIA QUERIES ********************/
@media (min-width: 48.0625em) {
  .grid-container {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .main-container {
    padding: 0 4rem;
  }
  .section-subtitle {
    margin-bottom: 6rem;
  }
}

@media (min-width: 63.75em) {
  .grid-container {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .main-container {
    padding: 0 6rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  position: relative;
  font-family: "Heebo", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  color: #69667e;
}

.header {
  padding: 1rem 0 0 0;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in 0.1s;
  transition: opacity 0.6s ease-in 0.1s;
}

.header.reveal {
  opacity: 1;
}

.header__navigation {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: inline-block;
  width: 10rem;
}

.header__logo path {
  fill: #221e41;
}

.header__logo circle {
  fill: #6937ff;
}

.header__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: none;
}

@media (min-width: 48.0625em) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__items {
  margin: 0 1.6rem;
}

.header__items:last-child {
  margin-right: 0;
}

.header__link {
  padding: 0.1rem 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #69667e;
  -webkit-transition: color 400ms ease, border 400ms ease;
  transition: color 400ms ease, border 400ms ease;
  border-bottom: 1px solid transparent;
}

.header__link:hover, .header__link.active {
  color: #221e41;
}

.header__link.active {
  border-color: #221e41;
  background-color: transparent;
}

.header__button {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  border-radius: 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(1, 0, 0, 1.04);
  transition: -webkit-transform 400ms cubic-bezier(1, 0, 0, 1.04);
  transition: transform 400ms cubic-bezier(1, 0, 0, 1.04);
  transition: transform 400ms cubic-bezier(1, 0, 0, 1.04), -webkit-transform 400ms cubic-bezier(1, 0, 0, 1.04);
  z-index: 9;
}

@media (min-width: 48.0625em) {
  .header__button {
    display: none;
  }
}

.header__button.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__button-line {
  display: block;
  position: absolute;
  width: 70%;
  height: calc(4rem - 37px);
  top: 18.5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #221e41;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  border-radius: 5px;
}

.header__button-line:nth-child(1) {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.header__button-line:nth-child(3) {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.header__button.active .header__button-line {
  background-color: #fff;
}

.header__button.active .header__button-line:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.header__button.active .header__button-line:nth-child(2) {
  opacity: 0;
}

.header__button.active .header__button-line:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.mobile__nav {
  position: fixed;
  background-color: #221e41;
  min-height: 100vh;
  width: 60%;
  top: 0;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: right 300ms ease;
  transition: right 300ms ease;
  text-align: center;
  z-index: 4;
}

.mobile__nav.open {
  right: 0;
}

.mobile__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile__nav-items:not(:last-child) {
  margin-bottom: 4rem;
}

.mobile__nav-items > a {
  padding: 0.1rem 0.2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
}

.mobile__nav-links.active {
  border-bottom: 2px solid #fff;
}

.hero {
  min-height: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .grid-container {
  -webkit-column-gap: 7rem;
          column-gap: 7rem;
}

.hero__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in;
}

.hero__text.reveal {
  opacity: 1;
}

@media (min-width: 48.0625em) {
  .hero__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
}

@media (min-width: 63.75em) {
  .hero__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
  }
}

.hero__big-paragraph {
  font-size: 4rem;
  margin-bottom: 1.6rem;
  color: #221e41;
}

.hero__long-paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4rem;
  line-height: 1.6;
}

.hero__icon {
  margin-left: 2rem;
}

.hero__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

@media (min-width: 48.0625em) {
  .hero__image {
    display: block;
    justify-self: flex-end;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
  }
}

@media (min-width: 63.75em) {
  .hero__image {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / span 5;
  }
}

.hero__image svg {
  width: 100%;
}

.hero__image g#cyan {
  opacity: 0;
  -webkit-transform: translateX(40px) translateY(-40px);
          transform: translateX(40px) translateY(-40px);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero__image g#pink {
  opacity: 0;
  -webkit-transform: translateX(-40px) translateY(40px);
          transform: translateX(-40px) translateY(40px);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero__image g#purple {
  opacity: 0;
  -webkit-transform: translateX(-50px) translateY(-50px);
          transform: translateX(-50px) translateY(-50px);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero__image g#red {
  opacity: 0;
  -webkit-transform: translateX(50px) translateY(50px);
          transform: translateX(50px) translateY(50px);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s, -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero__image g#cyan.reveal,
.hero__image g#pink.reveal,
.hero__image g#red.reveal,
.hero__image g#purple.reveal {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

.about {
  padding: 7rem 0;
  margin-top: -8rem;
  line-height: 1.6;
}

@media (min-width: 48.0625em) {
  .about {
    padding: 12rem 0;
  }
}

@media (min-width: 48.0625em) {
  .about .grid-container {
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
}

.about__skills {
  grid-column: 1/-1;
  -webkit-transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}

@media (min-width: 48.0625em) {
  .about__skills {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
  }
}

@media (min-width: 63.75em) {
  .about__skills {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / span 5;
  }
}

.about__skills h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #221e41;
}

.about__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  border-radius: 5px;
  color: #6937ff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.about__list li i {
  font-size: 2.4rem;
  margin-right: 0.6rem;
}

.about__text {
  grid-column: 1/-1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

@media (min-width: 48.0625em) {
  .about__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
}

@media (min-width: 63.75em) {
  .about__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
  }
}

.about__skills, .about__text {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
}

.about__skills.reveal, .about__text.reveal {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.about__name {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  font-weight: 600;
  color: #221e41;
}

@media (min-width: 63.75em) {
  .about__name {
    font-size: 1.8rem;
  }
}

.about__text p {
  font-size: 1.4rem;
}

@media (min-width: 63.75em) {
  .about__text p {
    font-size: 1.7rem;
  }
}

@media (min-width: 63.75em) {
  .about__text p:first-child {
    font-size: 1.8rem;
  }
}

.about__text-paragraph {
  margin-bottom: 1.4rem;
}

.projects {
  padding: 10rem 0;
  line-height: 1.6;
}

@media (min-width: 48.0625em) {
  .projects {
    padding: 12rem 0;
  }
}

.projects__container {
  grid-column: 1 / -1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem 0;
  margin-bottom: 6rem;
}

.projects__is-column-right {
  -ms-flex-preferred-size: calc(100% / 2);
      flex-basis: calc(100% / 2);
  -webkit-transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  border-radius: 6px;
  border: 1px solid #221e41;
}

.projects__is-column-left {
  -ms-flex-preferred-size: calc(100% / 2);
      flex-basis: calc(100% / 2);
  -webkit-transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.projects__is-column-left, .projects__is-column-right {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
}

.projects__is-column-left.reveal, .projects__is-column-right.reveal {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.projects__is-column-right img {
  width: 100%;
  border-radius: 10px;
}

.projects__is-column-left h2 {
  font-weight: 600;
  color: #221e41;
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.projects__is-column-left p {
  font-size: 1.7rem;
  margin-bottom: 2.6rem;
}

.projects__btn-for-website {
  margin-right: 2rem;
}

.projects__button-group span {
  margin-right: 1.2rem;
}

@media (min-width: 63.75em) {
  .projects__btn-for-website span,
  .projects__btn-for-code span {
    font-size: 1.3rem;
  }
}

.projects__button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__button-group a {
  padding: 0.6rem 1rem;
}

@media (min-width: 48.0625em) {
  .projects__button-group a {
    padding: 0.6rem 1.2rem;
  }
}

.projects-2__container {
  grid-column: 1 / -1;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}

.projects-2__container.reveal {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.projects-2__title {
  text-align: center;
  margin-bottom: 2.6rem;
  font-size: 1.6rem;
  color: #221e41;
}

.projects-2__container > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 48.0625em) {
  .projects-2__container > div {
    -ms-grid-columns: (minmax(20rem, 0.8fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 0.8fr));
  }
}

.projects-2__box {
  border-radius: 5px;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  padding: 1.4rem;
}

.projects-2__box:nth-child(1) {
  background-color: #16b9b9;
}

.projects-2__box:nth-child(2) {
  background-color: #dd596f;
}

.projects-2__box:nth-child(3) {
  background-color: #211e40;
}

.projects-2__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.projects-2__box img {
  width: 70%;
}

.projects-2__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-2__info h2 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
}

.projects-2__btn {
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  background-color: transparent;
}

.projects-2__info .icon {
  margin-left: 1rem;
}

@media (min-width: 48.75em) {
  .projects__container {
    grid-column: 1 / -1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0 2.4rem;
  }
  .projects__container:nth-child(even) .projects__is-column-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .projects__container:nth-child(even) .projects__is-column-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .projects__container {
    margin-bottom: 12rem;
  }
}

@media (max-width: 20em) {
  .projects .projects__btn-for-website {
    margin-right: 1rem;
  }
  .projects .projects__button-group a {
    padding: 0.6rem 0.6rem;
  }
}

.contact {
  padding: 10rem 0;
}

@media (min-width: 48.0625em) {
  .contact {
    padding: 12rem 0;
  }
}

.contact__info-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -webkit-transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}

@media (min-width: 48.0625em) {
  .contact__info-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
}

@media (min-width: 63.75em) {
  .contact__info-content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / span 4;
  }
}

.contact__form-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -webkit-transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

@media (min-width: 48.0625em) {
  .contact__form-content {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4 / span 5;
  }
}

@media (min-width: 63.75em) {
  .contact__form-content {
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6 / span 6;
  }
}

.contact__info-content, .contact__form-content {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
}

.contact__info-content.reveal, .contact__form-content.reveal {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.contact__info-list {
  padding: 3rem 0;
  margin: 0;
  list-style-type: none;
}

.contact__info-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

.contact__info-list li:first-child {
  margin-top: 0;
}

.contact__info-list i {
  margin-right: 2rem;
  font-size: 2.4rem;
  color: #6937ff;
}

.contact__info-list h3 {
  font-size: 1.7rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #221e41;
}

.contact__info-list p {
  font-size: 1.6rem;
}

.contact__form {
  padding: 3rem 0;
}

.contact__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__input {
  width: 100%;
  margin-bottom: 1.4rem;
}

.contact__input label {
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.6rem;
  color: #221e41;
}

.contact__input input,
.contact textarea {
  width: 100%;
  height: 4rem;
  padding: 0.4rem;
  font-size: 1.6rem;
  background: #69667e47;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #221e41;
  font-family: "Heebo", sans-serif;
}

@media (min-width: 48.0625em) {
  .contact__input input,
  .contact textarea {
    height: 3rem;
  }
}

.contact__input input:focus-visible,
.contact textarea:focus-visible {
  outline: none;
  border-color: #6937ff;
}

.contact__input input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  opacity: 0.5;
  color: #69667e;
  font-size: 1.5rem;
}

.contact__input input:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  opacity: 0.5;
  color: #69667e;
  font-size: 1.5rem;
}

.contact__input input::-ms-input-placeholder,
.contact textarea::-ms-input-placeholder {
  opacity: 0.5;
  color: #69667e;
  font-size: 1.5rem;
}

.contact__input input::placeholder,
.contact textarea::placeholder {
  opacity: 0.5;
  color: #69667e;
  font-size: 1.5rem;
}

.contact__input textarea {
  height: 10rem;
  resize: none;
}

.contact__error-msg {
  font-size: 1.4rem;
  color: red;
  margin-top: 0.1rem;
  display: inline-block;
  visibility: hidden;
}

.contact__error-msg.show {
  visibility: visible;
}

.contact__button {
  margin-bottom: 0;
  cursor: pointer;
}

.contact__button input {
  cursor: pointer;
  width: 10rem;
  background-color: #6937ff;
  color: #fff;
  -webkit-transition: background 400ms ease;
  transition: background 400ms ease;
  font-weight: 600;
  font-size: 1.5em;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  font-family: "Heebo", sans-serif;
}

.contact__button input:focus-visible {
  outline: none;
  border: 2px solid #221e41;
}

.contact__button input:hover {
  -webkit-box-shadow: 0px 2px 25px #69667e;
          box-shadow: 0px 2px 25px #69667e;
}

@media (min-width: 37.5em) {
  .contact__form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__input-name {
    margin-right: 3rem;
  }
}

.footer {
  margin-top: 10rem;
  padding-top: 10rem;
  background-color: #221e41;
}

.footer__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  width: 15rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 48.0625em) {
  .footer__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
  }
}

@media (min-width: 63.75em) {
  .footer__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
  }
}

.footer__logo path {
  fill: #fff;
}

.footer__logo circle {
  fill: #6937ff;
}

.footer__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  padding: 5rem 0;
}

@media (min-width: 48.0625em) {
  .footer__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
  }
}

@media (min-width: 63.75em) {
  .footer__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
  }
}

.footer__row {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0 2.2rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #69667e;
}

@media (min-width: 48.0625em) {
  .footer__row {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 63.75em) {
  .footer__row {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
  }
}

.footer__row p {
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
}

.footer__row p a {
  color: #69667e;
  text-decoration: none;
}

.footer__row ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row li:not(:last-child) {
  margin-right: 1.8rem;
}

.footer__row ul a {
  display: inline-block;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  font-size: 1.8rem;
  border: 1px solid #6937ff;
  background-color: #6937ff;
  color: #fff;
  -webkit-transition: background 400ms ease, border 400ms ease;
  transition: background 400ms ease, border 400ms ease;
}

.footer__row ul a:hover {
  color: #6937ff;
  background-color: #fff;
  border-color: #fff;
}
