.about {
  padding: 7rem 0;
  margin-top: -8rem;
  line-height: 1.6;

  @include respond-to(medium) {
    padding: $section-padding;
  }

  &__skills {
    grid-column: 1/-1;
    transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s,
      opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;

    @include respond-to(medium) {
      grid-column: 6 / span 4;
    }

    @include respond-to(large) {
      grid-column: 8 / span 5;
    }
  }

  &__skills h2 {
    font-size: $font-section-sub-headers-medium;
    margin-bottom: 2rem;
    color: $dark-blue;

    @include respond-to(large) {
      font-size: $font-section-sub-headers-large;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
  }

  &__list li {
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: $light-purple;
    flex: 0 0 auto;
    font-size: $font-content-medium;

    @include respond-to(large) {
      font-size: $font-content-large;
    }
  }

  &__list li i {
    font-size: 2.4rem;
    margin-right: 0.6rem;
  }

  &__text {
    grid-column: 1/-1;
    align-self: center;
    transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s,
      opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

    @include respond-to(medium) {
      grid-column: 1 / span 4;
    }

    @include respond-to(large) {
      grid-column: 1 / span 6;
    }
  }

  &__skills,
  &__text {
    backface-visibility: hidden;
    transform: translateY(40%);
    opacity: 0;
  }

  &__skills.reveal,
  &__text.reveal {
    transform: translateY(0);
    opacity: 1;
  }

  &__name {
    margin-bottom: 1.4rem;
    font-weight: 600;
    color: $dark-blue;
  }

  &__text p:first-child {
    font-size: $font-section-sub-headers-medium;

    @include respond-to(large) {
      font-size: $font-section-sub-headers-large;
    }

    &__text-paragraph {
      margin-bottom: 1.4rem;
    }
  }

  &__text p:nth-child(2) {
    margin-bottom: 1.8rem;
  }

  &__text p:not(:first-child) {
    font-size: $font-content-medium;

    @include respond-to(large) {
      font-size: $font-content-large;
    }
  }
}
