.contact {
  padding: 10rem 0;

  @include respond-to(medium) {
    padding: $section-padding;
  }

  &__info-content {
    grid-column: 1 / span 4;
    transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s,
      opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;

    @include respond-to(medium) {
      grid-column: 1 / span 3;
    }

    @include respond-to(large) {
      grid-column: 2 / span 4;
    }
  }

  &__form-content {
    grid-column: 1 / span 4;
    transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s,
      opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;

    @include respond-to(medium) {
      grid-column: 4 / span 5;
    }

    @include respond-to(large) {
      grid-column: 6 / span 6;
    }
  }

  &__info-content,
  &__form-content {
    backface-visibility: hidden;
    transform: translateY(40%);
    opacity: 0;
  }

  &__info-content.reveal,
  &__form-content.reveal {
    transform: translateY(0);
    opacity: 1;
  }

  &__info-list {
    padding: 3rem 0;
    margin: 0;
    list-style-type: none;
  }

  &__info-list li {
    display: flex;
    align-items: center;
    margin: 3rem 0;
  }

  &__info-list li:first-child {
    margin-top: 0;
  }

  &__info-list li:last-child {
    margin-bottom: 0;
  }

  &__info-list i {
    margin-right: 2rem;
    font-size: 2.4rem;
    color: $light-purple;
  }

  &__info-list h3 {
    font-size: $font-section-sub-headers-medium;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: $dark-blue;

    @include respond-to(large) {
      font-size: $font-section-sub-headers-large;
    }
  }

  &__info-list p,
  &__info-list a {
    font-size: $font-content-medium;

    @include respond-to(large) {
      font-size: $font-content-large;
    }
  }

  &__info-list a {
    color: $dark-gray;
  }

  &__form {
    padding: 3rem 0;
  }

  &__form-row {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    margin-bottom: 1.4rem;
  }

  &__input label {
    font-size: $font-section-sub-headers-medium;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 0.6rem;
    color: $dark-blue;

    @include respond-to(large) {
      font-size: $font-section-sub-headers-large;
    }
  }

  &__input input,
  textarea {
    width: 100%;
    height: 3rem;
    padding: 0.4rem;
    font-size: $font-content-medium;
    background: #69667e1a;
    border: 1px solid transparent;
    border-radius: 5px;
    color: $dark-blue;
    font-family: $heebo;

    @include respond-to(medium) {
      height: 4rem;
    }

    @include respond-to(large) {
      font-size: $font-content-large;
    }
  }

  &__input input:focus-visible,
  textarea:focus-visible {
    outline: none;
    border-color: $light-purple;
  }

  &__input input::placeholder,
  textarea::placeholder {
    opacity: 0.5;
    color: $dark-gray;
    font-size: $font-content-medium;

    @include respond-to(large) {
      font-size: $font-content-large;
    }
  }

  &__input textarea {
    height: 10rem;
    resize: none;
  }

  &__error-msg {
    font-size: 1.4rem;
    color: red;
    margin-top: 0.1rem;
    display: inline-block;
    visibility: hidden;
  }

  &__error-msg.show {
    visibility: visible;
  }

  &__button {
    margin-bottom: 0;
    cursor: pointer;
  }

  &__button input {
    cursor: pointer;
    width: 10rem;
    background-color: $light-purple;
    color: $primary-light;
    transition: background $transition ease, box-shadow $transition ease-in-out;
    font-weight: 500;
    font-size: 1.5em;
    border: none;
    padding: 0.6rem 0.4rem;
    border-radius: 5px;
    font-family: $heebo;
    letter-spacing: 1px;

    &:focus-visible {
      outline: none;
      border: 2px solid $dark-blue;
    }

    &:hover {
      box-shadow: 0px 2px 25px $dark-gray;
    }
  }

  // 600px
  @media (min-width: 37.5em) {
    &__form-row {
      display: flex;
      flex-direction: row;
    }
    &__input-name {
      margin-right: 3rem;
    }
  }
}
