.footer {
  margin-top: 10rem;
  padding-top: 10rem;
  background-color: $dark-blue;

  &__logo {
    grid-column: 1 / span 4;
    width: 15rem;
    justify-self: center;

    @include respond-to(medium) {
      grid-column: 1 / span 8;
    }

    @include respond-to(large) {
      grid-column: 1 / span 12;
    }
  }

  &__logo path {
    fill: $primary-light;
  }

  &__logo circle {
    fill: $light-purple;
  }

  &__text {
    grid-column: 1 / span 4;
    text-align: center;
    font-size: $font-content-medium;
    color: $primary-light;
    padding: 5rem 0;

    @include respond-to(medium) {
      grid-column: 1 / span 8;
    }

    @include respond-to(large) {
      grid-column: 1 / span 12;
      font-size: $font-content-large;
    }
  }

  &__row {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 2.2rem 0;
    flex-direction: column;
    border-top: 1px solid $dark-gray;

    @include respond-to(medium) {
      grid-column: 1 / span 8;
      flex-direction: row;
    }

    @include respond-to(large) {
      grid-column: 1 / span 12;
    }
  }

  &__row p {
    font-size: $font-content-medium;
    margin-bottom: 1.8rem;
    text-align: center;

    @include respond-to(large) {
      font-size: $font-content-large;
    }
  }

  &__row p a {
    color: $dark-gray;
    text-decoration: none;
  }

  &__row ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;

    @include respond-to(large) {
      gap: 3rem;
    }
  }

  &__row ul a {
    display: inline-block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
    font-size: $font-content-medium;
    border: 1px solid $light-purple;
    background-color: $light-purple;
    color: $primary-light;
    transition: background $transition ease, border $transition ease,
      outline 0.2s ease;
    outline: 2px dashed transparent;

    &:focus-visible {
      outline-color: $light-purple;
      outline-offset: 5px;
    }

    &:hover {
      color: $light-purple;
      background-color: $primary-light;
      border-color: $primary-light;
    }

    @include respond-to(large) {
      font-size: $font-content-large;
    }
  }

  a.home-link {
    position: relative;
    outline: 2px dashed transparent;
    transition: all 0.2s ease;
  }

  a.home-link::after {
    position: absolute;
    bottom: 0.1rem;
    left: 0;
    content: "";
    width: 0;
    height: 1px;
    background-color: $dark-gray;
    transition: width $transition ease;
  }

  a.home-link:hover::after {
    width: 100%;
  }

  a.home-link:focus-visible {
    outline-color: $light-purple;
    outline-offset: 2px;
  }
}
