.hero {
  min-height: 60rem;
  display: flex;
  align-items: center;

  @include respond-to(large) {
    min-height: 80rem;
  }

  & .grid-container {
    column-gap: 7rem;
  }

  &__text {
    grid-column: 1 / span 4;
    align-self: center;
    opacity: 0;
    transition: opacity 0.6s ease-in;

    &.reveal {
      opacity: 1;
    }

    @include respond-to(medium) {
      grid-column: 1 / span 4;
    }

    @include respond-to(large) {
      grid-column: 1 / span 7;
    }
  }

  &__big-paragraph {
    font-size: 3rem;
    margin-bottom: 1.6rem;
    color: $dark-blue;

    @include respond-to(large) {
      font-size: 4rem;
    }
  }

  &__long-paragraph {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 4rem;
    line-height: 1.6;
  }

  &__cta {
    font-size: 1.5rem;

    @include respond-to(large) {
      font-size: $font-content-medium;
    }
  }

  &__icon {
    margin-left: 2rem;
  }

  &__image {
    grid-column: 1 / span 4;
    align-self: center;
    display: none;

    @include respond-to(medium) {
      display: block;
      justify-self: flex-end;
      grid-column: 5 / span 4;
    }

    @include respond-to(large) {
      grid-column: 8 / span 5;
    }
  }

  &__image svg {
    width: 100%;
  }

  &__image g#cyan {
    opacity: 0;
    transform: translateX(40px) translateY(-40px);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
  }

  &__image g#pink {
    opacity: 0;
    transform: translateX(-40px) translateY(40px);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
  }

  &__image g#purple {
    opacity: 0;
    transform: translateX(-50px) translateY(-50px);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
  }

  &__image g#red {
    opacity: 0;
    transform: translateX(50px) translateY(50px);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s;
  }

  &__image g#cyan.reveal,
  &__image g#pink.reveal,
  &__image g#red.reveal,
  &__image g#purple.reveal {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
