// FONTS
$heebo: "Heebo", sans-serif;
$font-section-headers: 2.2rem;
$font-section-sub-headers: 2rem;
$font-content: 1.9rem;

// COLORS
$primary-light: #fff;
$dark-blue: #221e41;
$dark-gray: #69667e;
$light-gray: #80808054;
$light-purple: #6937ff;

// TRANSITION
$transition: 400ms;

// PADDING
$section-padding: 12rem 0;
